@model UNIDEH01.Models.Notas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idalumnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idalumnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idcurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.promedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.promedio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
