@model IEnumerable<UNIDEH01.Models.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idalumnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.promedio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idalumnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promedio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
